<p>second works!</p>
<div class="container">
    <!-- <button (click)="onclickFunction($event)">Event Binding</button>
    <h1>{{greeting}}</h1> -->

    <!-- <input #myclass type="text">
    <button (click) = "onclick(myclass.value)">Template reference</button>
    <h1>{{greeting}}</h1> -->

    <!-- Two way binding -->
     <!-- <input [(ngModel)]="greeting" type="text">
     <p>{{greeting}}</p> -->

     <!-- nglf directive -->
    <!-- <h2 *ngIf="display; else elseBlock">
        Here it is
    </h2>
    <ng-template #elseBlock>
        <h2>In else condition</h2>
    </ng-template>
    <button (click)="onclickDisplay()">Show display</button>
    </div> -->
    <!-- <div *ngFor="let i of array;">
        <h2>{{i}}</h2>
    </div> -->
    <h1>{{name}}</h1>
    <button (click)="fireEvent()">Click</button>
